// SPDX-FileCopyrightText: 2025 Aleksandr Mezin <mezin.alexander@gmail.com>
//
// SPDX-License-Identifier: MIT

polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.packagekit.package-install") {
        return polkit.Result.YES;
    }
});
