// SPDX-FileCopyrightText: 2025 Aleksandr Mezin <mezin.alexander@gmail.com>
//
// SPDX-License-Identifier: MIT

const allow = [
    'org.freedesktop.packagekit.package-install',
    'org.freedesktop.packagekit.system-sources-refresh',
];

polkit.addRule(function(action, subject) {
    if (allow.indexOf(action.id) !== -1)
        return polkit.Result.YES;
});
