# SPDX-FileCopyrightText: 2025 Aleksandr Mezin <mezin.alexander@gmail.com>
#
# SPDX-License-Identifier: MIT

x-service-base: &x-service-base
  profiles: [base]
  tty: true

  cap_add:
    - SYS_ADMIN
    - SYS_NICE
    - SYS_PTRACE
    - SETPCAP
    - NET_RAW
    - NET_BIND_SERVICE
    - IPC_LOCK

  volumes:
    - type: bind
      source: .
      target: /opt/

  working_dir: /opt/tests

  healthcheck:
    interval: 10s
    start_period: 2m
    test:
      - CMD
      - systemctl
      - is-system-running

x-service-openrc: &x-service-openrc
  <<: *x-service-base

  healthcheck:
    interval: 10s
    start_period: 2m
    test:
      - CMD
      - gdbus
      - wait
      - -y
      - org.freedesktop.PolicyKit1

x-service-packagekit: &x-service-packagekit
  <<: *x-service-base
  profiles: [packagekit]

services:
  centos-10:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: centos-10.dockerfile
      target: base

  centos-10-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: centos-10.dockerfile
      target: packagekit

  fedora-42:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: fedora-42.dockerfile
      target: base

  fedora-42-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: fedora-42.dockerfile
      target: packagekit

  fedora-43:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: fedora-43.dockerfile
      target: base

  fedora-43-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: fedora-43.dockerfile
      target: packagekit

  ubuntu-24.04:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: ubuntu-24.04.dockerfile
      target: base

  ubuntu-24.04-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: ubuntu-24.04.dockerfile
      target: packagekit

  ubuntu-25.10:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: ubuntu-25.10.dockerfile
      target: base

  ubuntu-25.10-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: ubuntu-25.10.dockerfile
      target: packagekit

  ubuntu-26.04:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: ubuntu-26.04.dockerfile
      target: base

  ubuntu-26.04-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: ubuntu-26.04.dockerfile
      target: packagekit

  debian-stable:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: debian-stable.dockerfile
      target: base

  debian-stable-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: debian-stable.dockerfile
      target: packagekit

  debian-testing:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: debian-testing.dockerfile
      target: base

  debian-testing-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: debian-testing.dockerfile
      target: packagekit

  debian-sid:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: debian-sid.dockerfile
      target: base

  debian-sid-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: debian-sid.dockerfile
      target: packagekit

  opensuse-leap-15.6:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: opensuse-leap-15.6.dockerfile
      target: base

  opensuse-leap-15.6-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: opensuse-leap-15.6.dockerfile
      target: packagekit

  opensuse-leap-16.0:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: opensuse-leap-16.0.dockerfile
      target: base

  opensuse-leap-16.0-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: opensuse-leap-16.0.dockerfile
      target: packagekit

  opensuse-tumbleweed:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: opensuse-tumbleweed.dockerfile
      target: base

  opensuse-tumbleweed-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: opensuse-tumbleweed.dockerfile
      target: packagekit

  archlinux:
    <<: *x-service-base
    build:
      context: tests
      dockerfile: archlinux.dockerfile
      target: base

  archlinux-packagekit:
    <<: *x-service-packagekit
    build:
      context: tests
      dockerfile: archlinux.dockerfile
      target: packagekit

  alpine-3.20:
    <<: *x-service-openrc
    build:
      context: tests
      dockerfile: alpine-3.20.dockerfile
      target: base

  alpine-3.21:
    <<: *x-service-openrc
    build:
      context: tests
      dockerfile: alpine-3.21.dockerfile
      target: base

  alpine-3.22:
    <<: *x-service-openrc
    build:
      context: tests
      dockerfile: alpine-3.22.dockerfile
      target: base

  alpine-3.23:
    <<: *x-service-openrc
    build:
      context: tests
      dockerfile: alpine-3.23.dockerfile
      target: base

  alpine-edge:
    <<: *x-service-openrc
    build:
      context: tests
      dockerfile: alpine-edge.dockerfile
      target: base
