# SPDX-FileCopyrightText: 2025 Aleksandr Mezin <mezin.alexander@gmail.com>
#
# SPDX-License-Identifier: MIT

name: ci

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 5 4 * * *

concurrency:
  group: ${{ github.workflow }}/${{ github.ref }}

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: ./.github/actions/eslint-stylish-problem-matcher

      - run: npm ci
      - run: npm run lint

      - uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6.0.0

  plan:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    outputs:
      services: ${{ steps.compose.outputs.services }}
      packagekit-services: ${{ steps.compose.outputs.packagekit-services }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - run: systemctl --user enable --now podman.socket

      - id: compose
        run: |
          services="$(podman compose --profile base config --services | sort | jq -cnR '[inputs]')"
          echo "services=$services" | tee -a "$GITHUB_OUTPUT"

          packagekit_services="$(podman compose --profile packagekit config --services | sort | jq -cnR '[inputs]')"
          echo "packagekit-services=$packagekit_services" | tee -a "$GITHUB_OUTPUT"

  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    needs:
      - lint
      - plan

    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJSON(needs.plan.outputs.services) }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - run: systemctl --user enable --now podman.socket

      - id: packagekit
        run: podman compose build "$SERVICE"
        if: contains(needs.plan.outputs.packagekit-services, env.SERVICE)
        env:
          SERVICE: ${{ matrix.image }}-packagekit

      - id: base
        run: podman compose build "$SERVICE"
        if: ${{ !cancelled() }}
        env:
          SERVICE: ${{ matrix.image }}

      - id: packagekit-up
        if: ${{ !cancelled() && steps.packagekit.outcome == 'success' }}
        run: |
          podman compose up -d "$SERVICE"
          podman wait --latest --condition=healthy
        env:
          SERVICE: ${{ matrix.image }}-packagekit

      - run: podman exec --latest -u testuser ./sequence.sh
        if: ${{ !cancelled() && steps.packagekit-up.outcome == 'success' }}

      - run: podman compose --profile packagekit down
        if: ${{ !cancelled() && steps.packagekit-up.outcome != 'skipped' }}

      - id: packagekit-up-2
        if: ${{ !cancelled() && steps.packagekit-up.outcome == 'success' }}
        run: |
          podman compose up -d "$SERVICE"
          podman wait --latest --condition=healthy
        env:
          SERVICE: ${{ matrix.image }}-packagekit

      - run: podman exec --latest -u testuser ./sequence2.sh
        if: ${{ !cancelled() && steps.packagekit-up-2.outcome == 'success' }}

      - run: podman compose --profile packagekit down
        if: ${{ !cancelled() && steps.packagekit-up-2.outcome != 'skipped' }}

      - id: base-up
        if: ${{ !cancelled() && steps.base.outcome == 'success' }}
        run: |
          podman compose up -d "$SERVICE"
          podman wait --latest --condition=healthy
        env:
          SERVICE: ${{ matrix.image }}

      - run: podman exec --latest -u testuser ./sequence.sh
        if: ${{ !cancelled() && steps.base-up.outcome == 'success' }}

      - run: podman compose --profile base down
        if: ${{ !cancelled() && steps.base-up.outcome != 'skipped' }}

      - id: base-up-2
        if: ${{ !cancelled() && steps.base-up.outcome == 'success' }}
        run: |
          podman compose up -d "$SERVICE"
          podman wait --latest --condition=healthy
        env:
          SERVICE: ${{ matrix.image }}

      - run: podman exec --latest -u testuser ./sequence2.sh
        if: ${{ !cancelled() && steps.base-up-2.outcome == 'success' }}

      - run: podman compose --profile base down
        if: ${{ !cancelled() && steps.base-up-2.outcome != 'skipped' }}
